<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      html,
      body {
        height: 100%;
        }
    </style>
    <title>URL - TinyApp Example</title>
  </head>
  <body>

          <% include partials/_header %>

    <div  class="card text-center" style = "  display: flex; align-items: center; justify-content: center;">
      <h1>Tiny URL - Login Here</h1>
        <form method="POST" action="/login">
          <input type="email" class ="form-control" name="email" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
          </br>
          <input type="password" class ="form-control" name="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
          </br>  
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
  </body>
</html>